.arrow {
  outline: none;
  font-size: 30px;
  height: 20px;
  width: 20px;
  color: #1890ff;
  position: fixed;
  cursor: url('../../styles/icons/cursor.png'), pointer;

  &:before {
    content: '▲';
    display: inline-block;
    opacity: 0.4;
    transition: opacity 0.3s ease-out;
  }
  &:hover::before {
    opacity: 1;
  }
}

.arrowTop {
  composes: arrow;
  top: 20px;
  left: 20px;
}

.arrowBottom {
  composes: arrow;
  bottom: 50px;
  left: 20px;
  &:before {
    transform-origin: center;
    transform: rotate(180deg);
  }
}
