.app {
  .logo {
    text-align: center;
    margin: 30px 0 25px 0;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .menu {
      width: 232px;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      margin: 0 20px 20px 0;

      &__header {
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  font-size: 0.82rem;
  cursor: url('../../icons/cursor.png'), pointer;

  .label {
    cursor: inherit;

    .checkbox {
      outline: none;
      appearance: none;
      vertical-align: middle;
      cursor: inherit;
  
      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url('../../icons/checkbox.png') no-repeat;
        margin-right: 10px;         
      }
  
      &:checked:after {
        background: url('../../icons/checkbox-push.png') no-repeat, url('../../icons/checkbox-mark.png') no-repeat 50% 50%;
      }
    }
  }

  .label + .label {
    margin-top: 20px;
  }
}