.app {
  .logo {
    text-align: center;
    margin: 30px 0 25px 0;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .menu {
      width: 232px;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 2px 8px #0000001a;
      margin: 0 20px 20px 0;

      &__header {
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .content {
      text-align: center;
    }
  }
}
