@import '../../styles/variables.scss';

.card {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  padding: 20px;
  height: 184px;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px 0 20px 0;
  user-select: none;

  .price {
    color: #2196f3;
    font-size: 1.5rem;
    line-height: 1.5rem;

    @media screen and (max-width: $mobile-width-device) {
      font-size: 1.3rem;
      line-height: 1.3rem;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .head {
      color: #a0b0b9;
      font-size: 0.75rem;
    }
    .value {
      color: #4a4a4a;
      font-size: 0.875rem;
    }
  }
}
